*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217deg 54% 11%);
    position: relative;
}

.nft-card{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 100px auto;
    line-height: 1.2;
    font-family: sans-serif;
    padding: 00px 20px;
}

.card{
    background-color: hsl(216deg 50% 16%);
    border-radius: 10px;
    width: 55vh;
    height: 82vh;
    margin: auto 20px;

    padding: 1px 20px;

}

.nftimg img{
  width: 50vh;
  margin:  20px auto;
  height: 47vh;
  border-radius: 10px;

}

.heading{
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;

}

.heading:hover{
    color:  hsl(178deg 100% 50%);
    cursor: pointer;
}

p{
   color: hsl(215deg 51% 70%);
    opacity: 0.9;
    margin-bottom: 1rem;

}

.nftimginfo{
    display: flex;
  gap: 7px;
  margin-bottom: 1rem;
  font-size: 0.7rem;
  align-items: center;
  
}


.clockiconpic{
    padding-left: 53%;
    
}

.price{
    color: hsl(178deg 100% 50%);
    
}

.line{
    height: 1px;
    width: 100%;
    background-color:darkgrey ;
    margin-bottom: 1rem;

}

.creator{
    display: flex;
    gap: 20px;
    justify-items: center;
   align-items: center;
 

}

.profileofman{
    width: 40px;
    border: 1px solid white;
    border-radius: 50px;
}

.Nameofcreator{
    color: white;

}

active{
    color: hsl(215deg 51% 70%);
}

.dateofexpired{
    color: hsl(215deg 51% 70%);
}

.viewoverlay {
    position: absolute;

    height: 47vh;
    width: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 3.7% ;
   
    background-color: hsl(178deg 100% 50%);
   

    opacity: 0;

}
.view{
    display: none;
    opacity: 0;

}



.viewoverlay:hover{
    opacity: .6;
    transition: 500ms;
       
  
}


.viewoverlay img {
  
    display: none;
  
  

    
}

@media only screen and (max-width: 25em){


    .nftimginfo{
        font-size: 0.7rem;
        align-items: center;
      
    }
    .card{
        margin: auto;
    
    }

    .nftimg img{
        padding: 00px 20px;
       width: 42vh;
       height: 45vh;
       margin:  20px auto;
     
    }

    .nft-text{
        padding: 00px 20px;
   
    }

    .card{
      

align-items: center;
justify-content: center;
margin:20px auto ;
 padding: 00px 20px 00px 30px;
 

 
   
    }

    .viewoverlay {
        position: absolute;
        padding: 00px 20px;
        height: 45vh;

        margin:  20px auto;
        width: 42vh;
    
    
    
        display: flex;
        
       
        background-color: hsl(178deg 100% 50%);
       
    
        opacity: 0;
    
    }

    
.viewoverlay:hover{
    opacity: .6;
    transition: 500ms;
       
  
}
}